apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.instanceName }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "claude-web-k8s-instance.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: service
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    - port: 81
      targetPort: mcp
      protocol: TCP
      name: mcp
  selector:
    app.kubernetes.io/name: {{ include "claude-web-k8s-instance.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
